:root {
    --orange-peel: #ffa630ff;
    --tea-green: #d7e8baff;
    --moonstone: #4da1a9ff;
    --yinmn-blue: #2e5077ff;
    --tyrian-purple: #611c35ff;
}

* {
    font-family: 'Spline Sans Mono', monospace;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body.dark {
    --background-color: #333;
    --text-color: white;
    --header-color: #555;
    --nav-item-color: #777;
    --nav-item-hover-color: #999;
    --submit-button-background: #555;
    --submit-button-hover-background: #777;
    --footer-background: #555;
    --footer-link-color: #999;
}

body.dark {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark header {
    background-color: var(--header-color);
}

body.dark .nav-item a {
    color: var(--nav-item-color);
}

body.dark .nav-item:hover a {
    background-color: var(--nav-item-hover-color);
}

body.dark input[type=submit] {
    background: var(--submit-button-background);
}

body.dark input[type=submit]:hover {
    background: var(--submit-button-hover-background);
}

body.dark footer {
    background-color: var(--footer-background);
}

body.dark footer p a {
    color: var(--footer-link-color);
}

header {
    background-color: var(--orange-peel);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    list-style-position: inside;
    gap: 0 1em;
}

.nav-item {
    padding: 1em 0;
}

.nav-item a {
    transition: all .2s ease-in-out;
    border-radius: 10px;
}

.nav-item:hover a {
    background-color: var(--yinmn-blue);
    color: white;
}

.nav-item a {
    text-decoration: none;
    padding: 0 1em;
    color: black;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    flex-direction: column;
}

main article {
    flex: 1;
}

main {
    margin: 2em 0;
}

section {
    margin-bottom: 2em;
}

h2 {
    font-size: 2em;
    margin: 0.5em 0;
}

aside {
    margin-bottom: 50px;
}

aside figure {
    margin: 0 auto;
    text-align: center;
}

aside figure img {
    width: 200px;
    border-radius: 50%;
}

figcaption {
    font-size: 0.8em;
}

aside p {
    margin-top: 1em;
}


#prediction img {
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--yinmn-blue);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: var(--yinmn-blue);
}

input[type=submit] {
    border: none;
    margin: 2em 0;
    background: var(--yinmn-blue);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

footer {
    background-color: var(--orange-peel);
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p a {
    color: var(--tyrian-purple);
    text-decoration: none;
}

@media only screen and (min-width: 64.063em) {
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item {
        flex-grow: 1;
    }

    main {
        flex-direction: row;
        gap: 3em;
        align-items: flex-start;
    }

    main article {
        width: 70%;
    }

    aside {
        width: 30%;
        text-align: center;
    }
}